@font-face {
    font-family: CeraPro;
    src: url(./assets/fonts/CeraPro-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: CeraPro;
    src: url(./assets/fonts/CeraPro-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: CeraPro;
    src: url(./assets/fonts/CeraPro-Medium.woff2);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: CeraPro;
    src: url(./assets/fonts/CeraPro-Medium.woff2);
    font-weight: 700;
    font-style: normal;
}
